<html>
  <head>
    <title>
    Ennchan
    </title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6">
          {% if username %}
          
          <h2>You are logged in as {{ username }}</h2>
          <a id="logout">Log out</a><br>
          
          {% else %}
          
          <h2>You are a guest</h2>
          
          <form>
            <label for="username">Username:</label><input type="text" id="username" name="username"></input><br>
            <label for="password">Password:</label><input type="password" id="password" name="password"></input>
            <button type="submit" id="login">Log in</button>
          </form>
          {% endif %}
          
          <br>
          <div id="container">
          </div><br>
        </div>
        <div class="col-6">
        <h2>Register New User</h2>
              <form>
                Username: <input type='text' id='regUsername'><br>
                Password: <input type='password' id='regPassword'><br>
                Email: <input type='text' id='regEmail'><br>
                <button id='regUser'>Register</button>
              </form>
        <div id="regError"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          {% if username %}
          <form>
            <h5>Say something:</h5><br>
            <input id="postContent" type="text"><br>
            <button id='postBtn'>Send</button>
          </form>
          {% endif %}
        </div>
        <div class="col-8">
          <div id="postContainer">
            {% for post in posts %}
            <div class="card">
              <div class="card-header">
                <p class="id">{{ post.id }}</p>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h5 class="username">{{ post.username }}</h5>
                </div>
                <div class="card-text">
                  <p class="reply">{{ post.reply }}</p>
                </div>
              </div>
              <div class="card-footer">
                <em class="timestamp">{{ post.timestamp }}</em>
              </div>
            </div>
            {% endfor %}
          </div>
          <button id="showMore">Show More</button>
        </div>
      </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
  </body>
</html>