<!DOCTYPE html>
<html>
<head>
  <title>Nick "Ennchan" Software Services</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/slick-theme.css') }}" />
</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid text-center">
    <div class="display-3 lead">Nick "Ennchan" Software Services</div>
      <p><a href="http://jquery.com">jQuery</a> | <a href="https://getbootstrap.com">Bootstrap</a> | <a href="https://postgresql.org">PostgreSQL</a> | <a href="https://mongodb.com">MongoDB</a> | <a href="http://flask.pocoo.org">Flask</a> | <a href="http://lettuce.it">Lettuce</a> | <a href="https://pillow.readthedocs.io">PIL</a> | <a href="https://opencv.org">OpenCV</a> | <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">BeautifulSoup</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-justify">
    <p>Hi, I'm a freelance Software Developer. I have experience on several front end and back end web development projects, usually using flask, bootstrap, and jquery. You can check most of my work here or  <a href="http://github.com/ecinauce">in github</a>, or visit <a href="http://ennchan.wordpress.com/">my developer's blog</a> for more information.</p>
    </div>
    <div class="col">
      <h2>Projects</h2>
      <a href="http://siklopilipinas.com/">Siklo Pilipinas Official Home Page</a> - The official Siklo Pilipinas home page
      Tools:
      <ul>
        <li>Bootstrap 4</li>
        <li>jQuery</li>
        <li>Flask</li>
        <li>MongoDB</li>
      </ul>

      <a href="">License Plate Detector</a> - [MIGRATION ONGOING]
      Documentation: [EDITS ONGOING]
      Tools:
      <ul>
      <li>OpenCV</li>
      <li>PIL</li>
      </ul>

      <a href="/ball">Catch the Ball</a> - A simple front end game
      Tools:
      <ul>
      <li>jQuery</li>
      </ul>

      <a href="/testimonial">Testimonials</a> - [MIGRATION ONGOING] A simple back end posting system
      Tools:
      <ul>
      <li>Flask</li>
      <li>MongoDB</li>
      </ul>

      <a href="">EventO</a> - [MIGRATION ONGOING] An event organizer web app prototype
      Tools:
      <ul>
      <li>Flask</li>
      <li>PostgreSQL</li>
      </ul>

      <a href="">Basic DTR</a> - A basic employee time tracking mobile app
      Tools:
      <ul>
      <li>Xamarin.Forms</li>
      </ul>
      
      <a href="/">This website</a> - My portfolio.
      
      </div>
    
      <div class="col">
        <h2>Tools</h2>
        <h3>Front End Web Development</h3>
        <ul>
          <li>jQuery</li>
          <li>Bootstrap</li>
        </ul>
        <h3>Back End Web Development</h3>
        <ul>
          <li>Lettuce</li>
          <li>unittest</li>
          <li>Flask</li>
          <li>PostgreSQL</li>
          <li>MongoDB</li>
        </ul>
        <h3>Other Technologies</h3>
        <ul>
          <li>OpenCV</li>
          <li>PIL</li>
          <li>Beautiful Soup</li>
          <li>Xamarin.forms</li>
        </ul>
        <h3>Project Tracking</h3>
        <ul>
          <li>Trello</li>
          <li>Git</li>
        </ul>
        <h3>Development Methodology</h3>
        <ul>
          <li>Extreme Programming</li>
          <li>SCRUM</li>
        </ul>
      </div>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='js/slick.js') }}"></script>
  <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
  
</body>
</html>